BOT_TOKEN=8607571872:AAHAzqZ_TZnvXBbY--LInEctA9-S7HvzKZo
ADMIN_IDS=8440814134
WORK_LOCATION_LAT=69.337057
WORK_LOCATION_LNG=41.338938
MAX_DISTANCE_METERS=100
DAILY_HOUR_LIMIT=5
DATABASE_URL=sqlite+aiosqlite:///./attendance.db
